{% extends 'foodmemoapp/base.html' %}
{% load static %}{% block content %}

<nav>
    <h1>Food Diary</h1>
    <ul>
        <li><a href="{% url 'top' %}">ホーム</a></li>
        <li><a href="{% url 'create-memo' %}">新しい投稿</a></li>
        <li><a href="{% url 'timeline' %}">タイムライン</a></li>
        <li>
            {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">ログアウト</button>
            </form>
            {% else %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <button type="submit">ログイン</button>
            </form>
            {% endif %}
        </li>
    </ul>
</nav>



    <div class="login">
        <h2>ログインフォーム</h2>
        <div class="login-form">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ログイン">
            </form>
        </div>

    </div>
    <div id="new-login">
        <p>アカウントを持っていませんか？</p>
        <a href="{% url 'register' %}">新規登録</a>
    </div>

{% endblock content %}