{% extends 'foodmemoapp/base.html' %}{% block content %}
<nav>
    <h1>Food Diary</h1>
    <ul>
        <li><a href="{% url 'top' %}">ホーム</a></li>
        <li><a href="{% url 'create-memo' %}">新しい投稿</a></li>
        <li><a href="{% url 'timeline' %}">タイムライン</a></li>
        <li>{% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">ログアウト</button>
            </form>
            {% else %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <button type="submit">ログイン</button>
            </form>
            {% endif %}
        </li>
    </ul>
</nav>

<div id="delete-container">
    <a href="{% url 'top' %}">戻る</a>
    <form method="POST">
        {% csrf_token %}
        <p>{{object}}を本当にタスクを削除しますか？</p>
        <button type="submit">削除</button>
    </form>
</div>

</div>

{% endblock content %}